html{
    background-color: #dcedf3;
    font-family: monospace;
}

body header{
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, minmax(0,1fr));
    background-color: white;
}

body main{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, minmax(0,1fr));
    margin-top: 30px;

}

header h1{
    font-size: 40px;
    font-family: Helvetica;
    padding-left: 10px;
    /*text-align: center;*/
}



header div{
    display: flex;
    grid-column: 1/13;
    justify-content: center;
    align-items: center;
}

img{
    width:200px;
}

tr:nth-child(2n+1){
    background-color: white;
}

tbody {
    white-space: nowrap;
}

table,
th,
td {
    border: 1px solid lightblue;
}

table{
    max-height: 85%;
    border-spacing: 0;
}

table.city{
    max-width: 70%;
}

th{
    padding: 10px;
    font-size: 15px;

}

td{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}
main div{
    grid-column: 1/13;
}

#controls{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



.lookup{
    margin: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.lookup:hover {
    background-color: #23e3f1;
    box-shadow: 0px 15px 20px rgba(35, 227, 241, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.lookbtn{
    display: flex;
    justify-content: space-around;
}

#country{
    height: 40px;
    margin-right: 10px;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgb(35, 227, 241);
    width: 80%;
}

label{
    font-size: 30px;
}

.queryerror{
    color: #b80c09;
}

#result{
    display: flex;
    justify-content: center;
}